# history  and project files
.Rproj.user
.Rhistory
.Ruserdata

# scripts
*-scripts/analysis.R
*-scripts/means.R
*-scripts/map.R

# raw data
data/*coordenadas.txt
data/*dados_campo_kmb.csv
data/*dados_campo2_kmb.csv